@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}
html, body{
    font-family: "Roboto",  sans-serif;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  2rem 5rem;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.cont a{
    list-style: none;
    text-decoration-line: none;
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in-out;
    box-sizing: border-box;
}
.cont a:hover{
    transition: 0.2s ease-in-out;
    border-bottom: 2px solid rgb(178, 172, 172);
}
.svg{
    height: 30px;
    width: 30px;
}
.cont p{
    font-size: 22px;
}
/* .po{
    margin-right: 1rem;
} */

/* P Section 2  */
.sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem; 
}
.sec2 img{
    height: 550px;
}

/* section 3  */
.main-sec{
    padding: 0 11.8rem;
}
.p1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0 1rem 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.09);
}
.p1 span{
    color: gray;
    font-size: 20px;
}
.p1 p{
    font-size: 20px;
    font-weight: 700;
}
.p1 h1{
    font-size: 4rem;
}
.pp{
    display: flex;
    gap: 2rem;
}

/* Section 4  */
.sec4{
    display: flex;
    flex-direction: column;
    padding: 6rem 0 2rem 0;
    gap: 2rem;
}
.sec4 p{
    color: #718096;
    font-size: 18px;
}
.sec4 span{
    font-size: 18px;
    font-weight: 600;
}

/* Section 5  */
.sec5{
    display: flex;
    flex-direction: column;
    padding: 0 0 2rem 0;
    gap: 2rem;
}
.sec5 p{
    color: #718096;
    font-size: 18px;
}
.sec5 h1{
    font-size: 2.5rem;
}

/* section 6  */
.sec6{
    display: flex;
    flex-direction: column;
    padding: 0 0 6rem 0;
    gap: 2rem;
}
.sec6 p{
    color: #718096;
    font-size: 18px;
}
.sec6 h1{
    font-size: 2.5rem;
}

/* Section 7  */
.sec7{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;
}
.svgsf{
    display: flex;
    gap: 2rem;
    margin-right: 1em;
}
.sec6-para p{
    word-spacing: 3px;
    letter-spacing: 1px;
}

@media(max-width: 880px){
    .nav-bar{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .cont{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sec2 img{
        width: 100%;
    }
    .sec7{
        flex-direction: column;
        gap: 2rem;
    }
    .main-sec{
        padding: 0 5rem;
    }
    .p1 h1{
        font-size: 3rem;
    }
}